{% extends 'Tarefas/main.html' %}

{% block content %}
    <h1>Registrar</h1>

    <form method="POST"> 
        {% csrf_token %}
        <label >{{form.username.label}}</label>
                {{form.username}}

        <label >{{form.password1.label}}</label>
        {{form.password1}}

        <label >{{form.password2.label}}</label>
        {{form.password2}}
       
        <input type="submit" value="Login">

    </form>

    <p>Já tem uma conta ?<a href="{% url 'login' %}"> Logar</a></p>

{% endblock %}