{% extends 'main.html' %}

{% block content %}
        {%if request.user.is_authenticated %}
            <p><a href="{% url 'logout' %}">Logout</a></p>
        {% else %}
        <p><a href="{% url 'login' %}">Login</a></p>
        {% endif %}

        <p>Olá, {{request.user|title}}</p>
            
        <hr>    
        <a href="{% url 'criartarefa' %}">Nova tarefa.</a>

        <h1>Lista de tarefas</h1>
        <form method="GET" >
            <input type="text" name="area-de-procura" value="{{procura_input}}">
            <input type="submit" value="Procurar" >
        </form>
        <br>
        <h1>Tarefas: </h1>

        <table>
            {% for t in Tarefas %}
               <tr>
                {% if t.completa%}              
                    <td>Completa</td>
                    <td><s>{{t.titulo}}</s></td>
                {% else %}
                <td>Incompleta</td>
                <td>{{t.titulo}}</td>
                {% endif %}      
                   <td><a href="{% url 'detalhetarefa' t.pk %}">Detalhes</a></td>
                   <td><a href="{% url 'editartarefa' t.pk %}">Editar</a></td>
                   <td><a href="{% url 'apagartarefa' t.pk %}">Apagar</a></td>
                </tr>
            {% empty %}
                <li>Não há tarefas pra serem mostradas.</li>
            {% endfor %}
        </table>
            
{% endblock %}