{% extends 'Tarefas/main.html' %}

{% block content %}
<div class="container">
    <div class="header-bar" >
                <div>
                    {%if request.user.is_authenticated %}
                    <p class="logout"><a href="{% url 'listatarefa' %}"><button class="exitbutton">&#8617;</button></a></p>
                {% else %}
                    <p><a href="{% url 'login' %}">Login</a></p>
                {% endif %}
                </div>
                {% if request.get_full_path == "/criar-tarefa" %}
                <h1 class="title">Criar tarefa</h1>
                {% else %}
                
                <h1 class="title">Editar tarefa:</h1>
                {% endif %}
                </div>
                <form class="barra-pesquisa" method="POST" action="">
                    {% csrf_token %}
                    {{form.as_p}}
                    <div class="box-button ">
                        <input class="button" type="submit" value="Confirmar">
                    </div>
                    
                </form>
</div>
        
{% endblock %}