{% extends 'Tarefas/main.html' %}

{% block content %}
<div class="container">
    <div class="header-bar">
        <div>
            <p class="logout"><a href="{% url 'listatarefa' %}"><button class="exitbutton">&#8617;</button></a></p>
            <h1>Confirmar exclusão:</h1>
        </div>
    </div> 
<form method="POST">
    {% csrf_token %}
    {{form}}
    <P>Certeza que deseja apagar a tarefa {{Tarefas.titulo}} ?</P>
    <div class="box-button">
          <input class="button" type="submit" value="Confirmar">
    </div>
  

</form>
</div>

{% endblock %}