{% extends 'Tarefas/main.html' %}
{% block content %}
        <div class="bar">
            <div>
                {%if request.user.is_authenticated %}
                <p class="logout"><a href="{% url 'logout' %}"><button class="exitbutton">&#8617;</button></a></p>
            {% else %}
                <p><a href="{% url 'login' %}">Login</a></p>
            {% endif %}

                <h1 class="title">Olá, {{request.user|title}}</h1>
            </div>
        </div>
        <div class="Tarefalist">
                <h1>Lista de tarefas</h1>
                <a href="{% url 'criartarefa' %}">Nova tarefa.</a>
                <form method="GET" >
                    <input type="text" name="area-de-procura" value="{{procura_input}}">
                    <input type="submit" value="Procurar" >
                </form>
                <h1>Tarefas: </h1>
                {% for t in Tarefas %}
                    <div class="div-tarefas">
                        {% if t.completa %}
                            <p class="tarefa-completa">&#10004;</p>
                            <p><a href="{% url 'detalhetarefa' t.pk %}"><s>{{t.titulo}}</s></a></p>
                        {% else %}
                        <p class="tarefa-incompleta"></p>
                        <p><a href="{% url 'detalhetarefa' t.pk %}">{{t.titulo}}</a></p>
                        {% endif %}      
                        <p><a href="{% url 'editartarefa' t.pk %}"><button class="detailbutton">Editar</button></a></p>
                        <p><a href="{% url 'apagartarefa' t.pk %}"><button class="deletebutton">Apagar</button></a></p>  
                    </div>
                    {% empty %}                             
                    <div>
                        <p>Não há tarefas...</p>
                    </div>          
                {% endfor %}
        </div>
            
{% endblock %}
